<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/appTheme">
        <activity android:name="com.example.myapplication.forgot_password" />
        <activity android:name="com.example.myapplication.FavPostsActivity" />
        <activity
            android:name="com.example.myapplication.ProfileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.example.myapplication.SearchPostActivity" />
        <activity android:name="com.example.myapplication.ApprovePostsActivity" />
        <activity android:name="com.example.myapplication.AdminHomeActivity" />
        <activity android:name="com.example.myapplication.CreatePost" />
        <!--
               Set to true if your a      pp is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.myapplication.RegisterActivity"
            android:label="@string/title_activity_register">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.myapplication.userActivity" />
        <activity android:name="com.example.myapplication.adminActivity" />
        <activity android:name="com.example.myapplication.homePage" />
        <activity android:name="com.example.myapplication.welcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>